/*------------------------------------*\
  Medias start
\*------------------------------------*/
/*------------------------------------*\
Commons
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

* {
  font-family: 'Roboto', sans-serif !important;
}

.container {
  margin-left: 12.5%;
  margin-right: 12.5%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.center {
  text-align: center;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.body {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-29.64%, rgba(255, 255, 255, 0)), color-stop(45.66%, #FFF8F8), color-stop(45.66%, #B57474));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) -29.64%, #FFF8F8 45.66%, #B57474 45.66%);
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

header {
  padding: 40px;
}

.logo h1 {
  font-size: 19px;
  line-height: 25.14px;
  color: #035755;
  margin-left: 13px;
}

.main-nav li {
  margin-left: 44px;
  position: relative;
}

.main-nav li a {
  font-size: 18px;
  line-height: 21.59px;
  color: #035755;
}

.main-nav li a:hover {
  color: #FB4C47;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-nav li a:hover ~ .red-dot {
  opacity: 1;
  top: 26px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-button {
  margin-left: 44px;
  color: #FF383D;
  border: 2px solid #FB4C47;
  border-radius: 46px;
  padding: 16px 45px;
  font-size: 18px;
  line-height: 21.59px;
}

.contact-button:hover {
  color: #035755;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.red-dot {
  border-radius: 50%;
  background: #FA5652;
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  left: 50%;
  top: 36px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.stay-home-box {
  margin-top: auto;
  margin-bottom: auto;
  width: 641px;
  margin-left: 12.5%;
}

.stay-home-box h2 {
  font-size: 32px;
  line-height: 39.04px;
  color: #FA5652;
  margin-bottom: 25px;
}

.stay-home-box h1 {
  font-size: 52px;
  line-height: 72.28px;
  color: #035755;
  margin-bottom: 35px;
}

.stay-home-box p {
  font-size: 24px;
  line-height: 45.6px;
  color: #4B4F51;
  margin-bottom: 54px;
}

.stay-home-box .help-button {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28.79px;
  background: #FB4C47;
  -webkit-box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
  border-radius: 65px;
  padding: 24px 55px;
}

.about-covid-box {
  width: 648px;
  margin-left: 63px;
  margin-bottom: 188px;
}

.about-covid-box a {
  font-size: 20px;
  line-height: 23.99px;
  color: #FA5652;
  background: rgba(250, 86, 82, 0.15);
  border-radius: 65px;
  padding: 21px 49px;
}

.about-covid-box p {
  color: #4B4F51;
  font-size: 20px;
  line-height: 43px;
  margin-bottom: 60px;
}

h4 {
  font-size: 29px;
  line-height: 35.96px;
  color: #FA5652;
  margin-bottom: 37px;
}

h3 {
  font-size: 50px;
  line-height: 59.5px;
  margin-bottom: 15px;
  color: #035755;
}

.contagion {
  margin-bottom: 148px;
}

.contagion h3,
.contagion h4,
.contagion p {
  text-align: center;
  margin-bottom: 31px;
}

.contagion p {
  margin-bottom: 111px;
}

.contagion-listing {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contagion-listing ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.contagion-listing li {
  width: 33.333%;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 960px) {
  .contagion-listing li {
    width: 50%;
  }
}

.contagion-listing a {
  text-align: center;
  display: block;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 65px;
  min-height: 575px;
  height: 100%;
  border-bottom: 5px solid #FFFFFF;
}

@media (max-width: 1440px) {
  .contagion-listing a {
    padding: 35px;
  }
}

.contagion-listing a:hover {
  border-bottom: 5px solid #FA5652;
}

.contagion-listing h5 {
  font-size: 36px;
  line-height: 52.92px;
  color: #035755;
  margin-bottom: 13px;
}

.contagion-listing p {
  font-size: 18px;
  line-height: 33.3px;
  color: #4B4F51;
  text-transform: capitalize;
}

.contagion-listing img {
  margin-bottom: 67px;
  max-width: 100%;
}

.symptomps {
  margin-bottom: 126px;
}

.symptomps h3,
.symptomps h4,
.symptomps p {
  text-align: center;
  margin-bottom: 31px;
}

.symptomps img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.symptomps p {
  font-size: 18px;
  line-height: 215%;
  text-align: center;
  text-transform: capitalize;
  color: #4B4F51;
}

.Prevention h3,
.Prevention h4,
.Prevention p {
  text-align: center;
  margin-bottom: 31px;
}

.Prevention li {
  margin-bottom: 130px;
}

.Prevention .Prevention {
  margin-bottom: 71px;
}

.Prevention p {
  margin-bottom: 71px;
}

.listing-head {
  margin-bottom: 20px;
  text-align: left;
}

.listing-numbering {
  border-radius: 50%;
  background: #FFCDCD;
  padding: 14px 14px 5px 14px;
  font-size: 44px;
  line-height: 145%;
  text-transform: capitalize;
  color: #FA5652;
  font-weight: 700;
  margin-right: 45px;
  display: block;
}

.listing-pharagraph {
  font-size: 18px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4B4F51;
  text-align: left !important;
  width: 532px;
  padding-left: 75px;
}

.listing-title {
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
}

.grid {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -150px;
}

.grid-left,
.grid-right {
  width: 50%;
  padding-left: 150px;
}

.Prevention-p {
  font-size: 18px;
  line-height: 215%;
  text-transform: capitalize;
  color: #4B4F51;
}

.question {
  margin-bottom: 143px;
}

.question p {
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #0C6C44;
}

.question-form {
  margin-top: 62px;
}

.question-form input {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
  border-radius: 57px;
  padding: 44px;
  border: none;
  width: 100%;
  font-size: 22px;
  line-height: 26px;
  color: #758681;
}

.question-form button {
  background: #F44A45;
  border-radius: 157px;
  padding: 26px 80px;
  border: none;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
}

.absolute {
  position: absolute;
  right: 12px;
  top: 15px;
}

.relative {
  position: relative;
}

.social-listing {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -40px;
}

.social-listing li {
  padding-left: 40px;
}

footer p {
  font-size: 20px;
  line-height: 25px;
  color: #415E56;
  text-align: center;
  margin-top: 67px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */