.body {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) -29.64%, #FFF8F8 45.66%, #B57474 45.66%);
    overflow-x: hidden;
}

html {
    overflow-x: hidden;   
}

header {
    padding: 40px;
}

.logo {
    h1 {
        font-size: 19px;
        line-height: 25.14px;
        color: #035755;
        margin-left: 13px;
    }
}
.main-nav {
    li {
        margin-left: 44px;
        position: relative;

        a {
            font-size: 18px;
            line-height: 21.59px;
            color: #035755;

            &:hover {
                color: #FB4C47;
                transition: 0.4s;

                &~.red-dot {
                    opacity: 1;
                    top: 26px;
                    transition: 0.4s;
                }
            }
        }
    }
}

.contact-button {
    margin-left: 44px;
    color: #FF383D;
    border: 2px solid #FB4C47;
    border-radius: 46px;
    padding: 16px 45px;
    font-size: 18px;
    line-height: 21.59px;

    &:hover {
        color: #035755;
        transition: 0.4s;

    }
}

.red-dot {
    border-radius: 50%;
    background: #FA5652;
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    left: 50%;
    top: 36px;
    transform: translateX(-50%);
    opacity: 0;
}

.stay-home-box {
    margin-top: auto;
    margin-bottom: auto;
    width: 641px;
    margin-left: 12.5%;

    h2 {
        font-size: 32px;
        line-height: 39.04px;
        color: #FA5652;
        margin-bottom: 25px;
    }

    h1 {
        font-size: 52px;
        line-height: 72.28px;
        color: #035755;
        margin-bottom: 35px;
    }

    p {
        font-size: 24px;
        line-height: 45.6px;
        color: #4B4F51;
        margin-bottom: 54px;
    }

    .help-button {
        color: #FFFFFF;
        font-size: 24px;
        line-height: 28.79px;
        background: #FB4C47;
        box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
        border-radius: 65px;
        padding: 24px 55px;
    }

}

.about-covid-box {
    width: 648px;
    margin-left: 63px;
    margin-bottom: 188px;

    a {
        font-size: 20px;
        line-height: 23.99px;
        color: #FA5652;
        background: rgba(250, 86, 82, 0.15);
        border-radius: 65px;
        padding: 21px 49px;
    }

    p {
        color: #4B4F51;
        font-size: 20px;
        line-height: 43px;
        margin-bottom: 60px;

    }
}

h4 {
    font-size: 29px;
    line-height: 35.96px;
    color: #FA5652;
    margin-bottom: 37px;

}

h3 {
    font-size: 50px;
    line-height: 59.5px;
    margin-bottom: 15px;
    color: #035755;
}

.contagion {

    h3,
    h4,
    p {
        text-align: center;
        margin-bottom: 31px;
    }

    p {
        margin-bottom: 111px;
    }

    margin-bottom: 148px;
}

.contagion-listing {
    max-width: 460px*3+60px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;

    ul {
        flex-wrap: wrap;
        margin-left: -30px;
    }

    li {
        width: 33.333%;
        padding-left: 30px;
        flex-direction: column;
        flex: 1;

        @media (max-width:960px) {
            width: 50%;
        }

      
    }

    a {
        text-align: center;
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        padding: 65px;
        min-height: 575px;
        height: 100%;
        border-bottom:5px solid #FFFFFF;

        @media (max-width: 1440px) {
            padding: 35px;
        }


        &:hover {
            border-bottom: 5px solid #FA5652;
        }
    }

    h5 {
        font-size: 36px;
        line-height: 52.92px;
        color: #035755;
        margin-bottom: 13px;
    }

    p {
        font-size: 18px;
        line-height: 33.3px;
        color: #4B4F51;
        text-transform: capitalize;
    }

    img {
        margin-bottom: 67px;
        max-width: 100%;
    }
}

.symptomps {
    margin-bottom: 126px;

    h3,
    h4,
    p {
        text-align: center;
        margin-bottom: 31px;

    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-size: 18px;
        line-height: 215%;
        text-align: center;
        text-transform: capitalize;
        color: #4B4F51;
    }
}

.Prevention {

    h3,
    h4,
    p {
        text-align: center;
        margin-bottom: 31px;
    }

    li {
        margin-bottom: 130px;
    }

    .Prevention {
        margin-bottom: 71px;
    }

    p {
        margin-bottom: 71px;
    }
}

.listing-head {
    margin-bottom: 20px;
    text-align: left;
}

.listing-numbering {
    border-radius: 50%;
    background: #FFCDCD;
    padding: 14px 14px 5px 14px;
    font-size: 44px;
    line-height: 145%;
    text-transform: capitalize;
    color: #FA5652;
    font-weight: 700;
    margin-right: 45px;
    display: block;
}

.listing-pharagraph {
    font-size: 18px;
    line-height: 221%;
    text-transform: capitalize;
    color: #4B4F51;
    text-align: left !important;
    width: 532px;
    padding-left: 75px;

}

.listing-title {
    font-size: 47px;
    line-height: 147%;
    text-transform: capitalize;
    color: #035755;
}

.grid {
    flex-wrap: wrap;
    margin-left: -150px;

}

.grid-left,
.grid-right {
    width: 50%;
    padding-left: 150px;
}

.Prevention-p {
    font-size: 18px;
    line-height: 215%;
    text-transform: capitalize;
    color: #4B4F51;
}


.question {
    p {
        font-size: 64px;
        line-height: 77px;
        text-align: center;
        color: #0C6C44;

    }

    margin-bottom: 143px;

}

.question-form {
    margin-top: 62px;

    input {
        background: #FFFFFF;
        box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
        border-radius: 57px;
        padding: 44px;
        border: none;
        width: 100%;
        font-size: 22px;
        line-height: 26px;
        color: #758681;
    }

    button {

        background: #F44A45;
        border-radius: 157px;
        padding: 26px 80px;
        border: none;
        color: #FFFFFF;
        font-size: 22px;
        line-height: 26px;
    }

}

.absolute {
    position: absolute;
    right: 12px;
    top: 15px;

}

.relative {
    position: relative;
}

.social-listing {
    flex-wrap: wrap;
    margin-left: -40px;

    li {
        padding-left: 40px;
    }
}

footer {
    p {
        font-size: 20px;
        line-height: 25px;
        color: #415E56;
        text-align: center;
        margin-top: 67px;
        margin-bottom: 20px;
    }
}